.wrapper {
    width: 100%;
    justify-content: space-between;
    display: flex;
    position: absolute;
    background-color: #7335b7;
}

.headerItems {
    height: 70px;
    align-items: center;
    display: flex;
}