.headerContainer {
    height: 70px;
    align-items: center;
    display: flex;
}

.wrapper {
    width: 100%;
    justify-content: center;
    display: flex;
    background-color: rgb(115, 53, 183);
}